<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit Comment</h1>
    <div style="width: 30%; margin: 25px auto;">
    <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        
        <div class="form-group">
            <textarea name="comment[text]"><%= comment.text %></textarea>
        </div>
        
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Update</button>
        </div>  
    </form>
        <a href="/campgrounds/<%= campground_id %>">BACK</a>
    </div>
    
    </div>
</div>

<%- include('../partials/footer') %>