<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Add new comment to <%= campground.name %></h1>
    <div style="width: 30%; margin: 25px auto;">
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        
        <div class="form-group">
            <textarea name="comment[text]"></textarea>
        </div>
        
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>  
    </form>
        <a href="/campgrounds/<%= campground._id %>">BACK</a>
    </div>
    
    </div>
</div>
<%- include('../partials/footer') %>