<%- include('partials/header') %>
<h1>Sign up!</h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Sign up</button>
</form>
<%- include('partials/footer') %>