<%- include('../partials/header') %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelCamp</h1>
            <p>View our hand-picked campgrounds from all over the world!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach((el) => { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= el.image %>" alt="Camp Photo">
                    <div class="caption">
                        <h4><%= el.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= el._id %>" class="btn btn-primary">More info</a>
                    </p>
                </div>  
            </div>
        <% }); %>
    </div>
</div>
<%- include('../partials/footer') %>