<%- include('../partials/header') %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a new camp ground</h1>
    <div style="width: 30%; margin: 25px auto;">
    <form action="/campgrounds" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Name" name="name">
        </div>
        
        <div class="form-group">
            <input class="form-control" type="text" placeholder="image url" name="image">
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Price" name="price">
        </div>

        <div class="form-group">
            <input class="form-control" type="text" placeholder="Description" name="description">
        </div>
        
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>  
    </form>
        <a href="/campgrounds">BACK</a>
    </div>
    
    </div>
</div>

<%- include('../partials/footer') %>